.idea
.next
.vercel

.yarn/cache
.yarn/unplugged
.yarn/install-state.gz

.pnp.cjs
.pnp.loader.mjs

coverage-jest
coverage-ts
*.tsbuildinfo

.env*.local

nginx/*.crt
nginx/*.key
nginx/*.pem

public/sw*.js
public/sw*.map
public/workbox*.js
public/workbox*.map
public/worker*.js
